section.s1 {
    padding-top: 150px;
    font-size: 14pt;
    width: 100%;
    text-align: center;
}
section.s2{
    position: absolute;
    right: 400px;
}

span{
    margin: 5px 5px 5px 5px;
    border: 2px solid #FF4500 ;
    background-color: #FFA500 ;
    display: block;
}
p{
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    text-align: left;
}
p.p1{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border: 8px solid #FF7F50;
}
p.p2{
    border: 5px solid rgb(255, 0, 0);
    border-radius: 20px/40px;
    box-shadow: inset 2px 2px 8px 8px rgba(0,0,0,.5);
    overflow: auto;
}
p.p3{
    border: 5px solid #FF6347;
}
div{
    text-align: center;
    font-size: 55px;
    width: 60px;
    height: 70px;
    float: left;
    margin: 10px 10px 10px 10px;
    right: 1000px;
    
}
    div.d1{
    border: 10px outset rgb(255, 0, 0);}
    div.d2{
    border: 10px dashed rgb(36, 250, 7);}
    div.d3{ 
    border: 10px dotted rgb(11, 7, 250);}
    div.d4{
    border: 10px double rgb(7, 250, 230);}
    div.d5{ 
    border: 10px ridge rgb(250, 7, 189);}
    div.d6{
    border: 10px inset rgb(250, 246, 7);}
    div.d7{ 
    border: 10px solid rgb(0, 0, 0);}
