table {
    display: table;
    border-collapse: collapse;
    margin: 30px;
}
head, string {
    display: table-row;
}
hobl, hpopulation{
    display: table-cell;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    background: rgb(141, 197, 253);
}
obl, population{
    display: table-cell;
    border: 1px solid black;
    padding: 10px;
    font-size: 20px;
    color: rgb(24, 24, 166);
}